.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-work {
  padding-top: 0px;
}
.hero {
  background-color: var(--background-color);
}
.our-team {
  background: var(--second-background-color);
}
