/*---------header------------*/
.header {
  border-bottom: 1px solid #ececec;
}
.navigation {
  display: flex;
}
.header-main {
  display: flex;
  align-items: center;
}
.navigation-item {
  align-items: center;
  margin-right: auto;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header-link {
  @include font(14, 1.14, 500, 0.02em);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color var(--hover-duration) var(--hover-time-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  .current {
    color: var(--accent-color);
  }
}
.header-list {
  margin-left: auto;
  display: flex;
}

.current {
  position: relative;
  &::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    left: 0;
    bottom: -1px;
  }
}

/*-----------------header contacts------------------*/
.header-contacts {
  @include font(14, 1.14, 500, 0.02em);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--second-text-color);
  transition: color var(--hover-duration) var(--hover-time-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-item:not(:last-child) {
  margin-right: 50px;
}
.icon-smartphone {
  display: flex;
  align-items: center;
  display: inline-block;
  fill: currentColor;
  margin-right: 10px;
}
.icon-envelope {
  display: flex;
  display: inline-block;
  align-items: center;
  fill: currentColor;
  margin-right: 10px;
}
